*{
  margin: 0;
  box-sizing: border-box;  
}

body{
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    height: 70px;
    background-color: white;
    position: relative;
}

img{
    margin-left: 10px;
    margin-top: 10px;
}

.title{
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    font-size: 15px;
    margin-left: 5px;
}

main{
    width: 800px;
    margin: 50px auto;
    background-color: white;
    padding-bottom: 30px;
}


.section-1{
    border-bottom: 1px solid skyblue;
    padding-top: 10px;
    padding-bottom: 45px;
    padding-left: 50px;
    height: 30px;
}

.button-1{
    padding: 10px 15px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
    border: none;
}

.button-2{
    padding: 10px 20px;
    background-color: white;
    color: grey;
    border-radius: 10px;
    border: 1px solid grey;
}

.excatly{
    height: 20px;
    width: 20px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 5px;
    padding: 2px 4px;
}

.wrong{
    height: 20px;
    width: 20px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 5px;
    padding: 2px 4px;
}


ul{
    list-style: none;
}

li{
    margin-bottom: 20px;
}

.editorial{
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
}

.q1goals{
    background-color: violet;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
}

.recruiting{
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
}


.mobile{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
}

.website{
    background-color: pink;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
}

.sales{
    background-color: yellow;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
}